.main {
  p {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
  }
  button {
    height: 40px;
    width: 110px;
    border: 2px solid goldenrod;
    border-radius: 6px;
    background: transparent;
    font-weight: bold;
    margin: 12px 4px;
    padding: 2px;
    &:hover {
      background: goldenrod;
      color: white;
      border: 2px solid black;
    }
  }
}