.main {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
  svg path {
    transition: all 0.2s ease;
  }
  &:hover {
    color: goldenrod;
  }
  &:hover svg path {
    stroke: #404040;
  }
  .icon {
    font-size: 16px;
    line-height: 18px;
    margin-right: 8px;
  }
  .label {
    @media all and (max-width: 800px) {
      & {
        display: none;
      }
    }
  }
}

.active {
  color: goldenrod;
  svg path {
    stroke: #404040;
  }
}
